#navbar {
    background-color: black;
    font-family: 'MedievalSharp', cursive;
    padding: 15px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    font-size: 30px;
    border-bottom: 1px solid whitesmoke;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}